<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
 
    <link href="CSS/Main.css" rel="stylesheet" />
</head>
<body>

    <div id="Header">
        <h3>Site Header....</h3>

    </div>
    <div id="Navbar">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Departments</a></li>
            <li><a href="">Calendar</a></li>
            <li><a href="">Contact US</a></li>
        </ul>

    </div>
    <div class="sideright">
        <h2>Lecture Dates</h2>
        <p>11/07 -Maths</p>
        <p>11/07 -Computer Science</p>
        <p>11/07 -Networks</p>
        <p>11/07 -EDC</p>

    </div>
    <div class="sideright">
        <h2>Lecture Dates</h2>
        <p>11/07 -Maths</p>
        <p>11/07 -Computer Science</p>
        <p>11/07 -Networks</p>
        <p>11/07 -EDC</p>

    </div>
    <div>

        <img class="ImageSidebar"src="Images/India.png" />
    </div>
     <div class="main">
        <h1>Where is India ? </h1>
        <p>Home to the ancient Indus Valley Civilisation and a region of historic trade routes and vast empires, the Indian subcontinent was identified with its commercial and cultural wealth for much of its long history.[18] Four religions, Hinduism, Buddhism, Jainism, and Sikhism originated in India, whereas Zoroastrianism, Judaism, Christianity, and Islam arrived in the first millennium CE, and they also played a part in shaping the region's diverse culture. Gradually annexed and brought under the administration of the British East India Company from the early 18th century and administered directly by the United Kingdom after the Indian Rebellion of 1857, it became an independent nation in 1947 after a struggle for independence that was marked by non-violent resistance led by Mahatma Gandhi</p>
        <h1>India History</h1>
        <p>In 2015, the Indian economy was the world's seventh largest by nominal gross domestic product (GDP) and third largest by purchasing power parity (PPP).[15] Following market-based economic reforms in 1991, India became one of the fastest-growing major economies and is considered a newly industrialised country. However, it continues to face the challenges of poverty, corruption, malnutrition, and inadequate public healthcare. A nuclear weapons state and a regional power, it has the third largest standing army in the world and ranks sixth in military expenditure among nations. India is a federal constitutional republic governed under a parliamentary system and consists of 29 states and 7 union territories. It is a pluralistic, multilingual and multi-ethnic society and is also home to a diversity of wildlife in a variety of protected habitats.</p>

    </div>
    <div class="main">
        <h1>Where is India ? </h1>
        <p>Home to the ancient Indus Valley Civilisation and a region of historic trade routes and vast empires, the Indian subcontinent was identified with its commercial and cultural wealth for much of its long history.[18] Four religions, Hinduism, Buddhism, Jainism, and Sikhism originated in India, whereas Zoroastrianism, Judaism, Christianity, and Islam arrived in the first millennium CE, and they also played a part in shaping the region's diverse culture. Gradually annexed and brought under the administration of the British East India Company from the early 18th century and administered directly by the United Kingdom after the Indian Rebellion of 1857, it became an independent nation in 1947 after a struggle for independence that was marked by non-violent resistance led by Mahatma Gandhi</p>
        <h1>India History</h1>
        <p>In 2015, the Indian economy was the world's seventh largest by nominal gross domestic product (GDP) and third largest by purchasing power parity (PPP).[15] Following market-based economic reforms in 1991, India became one of the fastest-growing major economies and is considered a newly industrialised country. However, it continues to face the challenges of poverty, corruption, malnutrition, and inadequate public healthcare. A nuclear weapons state and a regional power, it has the third largest standing army in the world and ranks sixth in military expenditure among nations. India is a federal constitutional republic governed under a parliamentary system and consists of 29 states and 7 union territories. It is a pluralistic, multilingual and multi-ethnic society and is also home to a diversity of wildlife in a variety of protected habitats.</p>

    </div>
    
    <div id="footer">
        &copy: Site copyrights
    </div>
</body>
</html>
